
#main-juego {
    margin: 50px auto; 
    max-width: 600px; 
    padding: 20px;
    background-color: #000000;
    border: 2px solid var(--color-linea); 
    border-radius: 10px;
    text-align: center;
}

#main-juego h2 {
    color: var(--color-linea);
    font-size: 24px;
    margin-bottom: 20px;
}

#main-juego p {
    font-size: 18px;
    margin-bottom: 15px;
}
button{
    width: 100%; 
    font-family: "pixel";
    padding: 10px 20px;
    margin: 10PX auto;
    background-color: var(--color-contraste);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
button:hover {
    background-color: var(--color-linea); 
    color: #000000;
}