body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#galeria-pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 1200px; 
    margin: 40px auto; 
    padding: 10px;
}

.pokemon-card {
    width: 80px; 
    height: 80px; 
    margin: 5px;
    cursor: pointer; 
    background-color: rgb(103, 103, 103);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-card:hover {
    transform: scale(1.1); 
}

.pokemon-card img {
    width: 100%; 
    height: 100%;
}
