.starter-seleccion {
    background: none;
    border: 3px solid transparent;
    padding: 3px;
    cursor: pointer;
    display: inline-block;
    margin: 3px;
    transition: border 0.2s ease-in-out; 
}
.starter-seleccion.activo {
    border: 3px solid var(--color-contraste);  
}
.starter-seleccion img {
    display: block;
    width: 80px;
    height: 80px;
}
#Registro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    }

#Registro form {
    background-color: #333333;
    padding: 30px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px; 
}
#Registro legend {
    font-size: 18px ;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    border-bottom: 2px solid var(--color-contraste);
    padding-bottom: 10px;
}
#Registro input[type="submit"] {
    width: 100%; 
    font-family: "pixel";
    padding: 10px 20px;
    margin: 10PX;
    background-color: var(--color-contraste);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
#Registro input[type="submit"]:hover {
    background-color: var(--color-linea); 
    color: #000000;
}
